@font-face {
  font-family: "Yodel Grotesk";
  src: url("../assets/fonts/yodel-grotesk/YodelGrotesk-Thin.otf") format("opentype");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Yodel Grotesk";
  src: url("../assets/fonts/yodel-grotesk/YodelGrotesk-ThinItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Yodel Grotesk";
  src: url("../assets/fonts/yodel-grotesk/YodelGrotesk-UltraLight.otf") format("opentype");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Yodel Grotesk";
  src: url("../assets/fonts/yodel-grotesk/YodelGrotesk-UltraLightItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Yodel Grotesk";
  src: url("../assets/fonts/yodel-grotesk/YodelGrotesk-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Yodel Grotesk";
  src: url("../assets/fonts/yodel-grotesk/YodelGrotesk-LightItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Yodel Grotesk";
  src: url("../assets/fonts/yodel-grotesk/YodelGrotesk-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Yodel Grotesk";
  src: url("../assets/fonts/yodel-grotesk/YodelGrotesk-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Yodel Grotesk";
  src: url("../assets/fonts/yodel-grotesk/YodelGrotesk-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500 600;
  font-display: swap;
}

@font-face {
  font-family: "Yodel Grotesk";
  src: url("../assets/fonts/yodel-grotesk/YodelGrotesk-MediumItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 500 600;
  font-display: swap;
}

@font-face {
  font-family: "Yodel Grotesk";
  src: url("../assets/fonts/yodel-grotesk/YodelGrotesk-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Yodel Grotesk";
  src: url("../assets/fonts/yodel-grotesk/YodelGrotesk-BoldItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Yodel Grotesk";
  src: url("../assets/fonts/yodel-grotesk/YodelGrotesk-Heavy.otf") format("opentype");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Yodel Grotesk";
  src: url("../assets/fonts/yodel-grotesk/YodelGrotesk-HeavyItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Yodel Grotesk";
  src: url("../assets/fonts/yodel-grotesk/YodelGrotesk-Black.otf") format("opentype");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Yodel Grotesk";
  src: url("../assets/fonts/yodel-grotesk/YodelGrotesk-BlackItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --scoop-text-highlight: #1d9bf0;
  }

  * {
    @apply box-border;
  }

  html,
  body,
  #root {
    @apply min-h-full;
  }

  body {
    @apply m-0 bg-panel-900 text-panel-100 font-sans;
  }
}
